/* .MuiInput-underline-84:before {
  background-color: white !important;
} */

.MuiInput-inkbar-80:after {
  background-color: white !important;
}

.MuiFormLabel-focused-75 {
  color: black !important;
}

.MuiInput-underline-84:hover:not(.MuiInput-disabled-83):before {
  background-color: #7b675a !important;
}
